<!DOCTYPE html>
<html lang="en" ng-app="LuVa-app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Wondering what games eligible for monetization on YouTube, check out this large database containing more than 3000 of games and their monetization conditions backed with sources.">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>YouTube Games Monetization</title>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.min.css"/>
	<link rel="shortcut icon" href="/asset/logo@0,5x.png"/>
	<link rel="favicon" href="/asset/logo@0,5x.png"/>
	<link rel="manifest" href="manifest.json">

	<style type="text/css">
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
			display: none !important;
		}
		.row-hover:hover {
    		background-color: #eee!important
		}
		@font-face {
			font-family: 'Material Icons';
			font-style: normal;
			font-weight: 400;
			src: local('Material Icons'),
				local('MaterialIcons-Regular'),
				url(/asset/MaterialIcons-Regular.woff2) format('woff2');
		}
		.material-icons {
			font-family: 'Material Icons';
			font-weight: normal;
			font-style: normal;
			font-size: 24px;
			display: inline-block;
			line-height: 1;
			text-transform: none;
			letter-spacing: normal;
			word-wrap: normal;
			white-space: nowrap;
			direction: ltr;
			-webkit-font-smoothing: antialiased;
			text-rendering: optimizeLegibility;
			-moz-osx-font-smoothing: grayscale;
			font-feature-settings: 'liga';
		}
	</style>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-101217217-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body ng-cloak ng-controller="Ctrl as app" ng-init="myLimit = 10; myPage = 1;">

	<div layout="column" layout-fill>

		<md-toolbar class="md-whiteframe-z2" md-scroll-shrink="true">
			<div class="md-toolbar-tools">
				<h1 class="md-title" md-truncate>YouTube Games Monetization</h1>
				<span flex></span>		
			</div>
		</md-toolbar>			

		<md-content>

			<md-card>
				<md-toolbar class="md-table-toolbar md-default" ng-hide="search">
					<div class="md-toolbar-tools">
						<h2 class="md-title" style="color: rgba(0,0,0,.54);">Browsing database</h2>
						<div flex></div>
						<md-button class="md-icon-button" ng-click="search = true">
							<md-icon>search</md-icon>
						</md-button>
					</div>
				</md-toolbar>

				<md-toolbar class="md-table-toolbar md-default" ng-show="search">
				  <div class="md-toolbar-tools">
					<input type="text" ng-model="myFilter" placeholder="Start typing..." 
					style="width: 100%; margin: 0; color: rgba(0,0,0,.54); /*padding: 0 10px 0 10px;*/ border: none; outline: none;">
					<div flex></div>					
					<md-button class="md-icon-button" ng-click="search = false; myFilter = undefined;">
						<md-icon>close</md-icon>
					</md-button>
				  </div>
				</md-toolbar>

					<md-table-container>
						<table md-table md-progress="app.loading">
							<thead md-head md-order="myOrder">
								<tr md-row>									
									<th md-column md-order-by="publisher">Publisher</th>
									<th md-column md-order-by="game">Game</th>
									<th md-column style="padding: 0;" md-order-by="monetization">Monetization</th>
									<th md-column hide-xs hide-sm>Conditions</th>
									<th md-column hide-xs>Source</th>
									<th md-column md-numeric md-order-by="timestamp" hide-xs>Timestamp</th>
								</tr>
							</thead>
							<tbody md-body>
								<tr md-row ng-repeat="e in app.database | filter: myFilter | orderBy: myOrder | limitTo: myLimit: (myPage - 1) * myLimit" 
									style="background-color: {{e.monetization=='Yes'?'rgba(0, 255, 0, 0.05)':(e.monetization=='No'?'rgba(255, 0, 0, 0.05)':'rgba(0, 0, 255, 0.05)')}};" class="row-hover">
									<td md-cell>{{e.publisher}}</td>
									<td md-cell>{{e.game}}</td>
									<td md-cell style="padding: 0; font-weight: bold; color: {{e.monetization=='Yes'?'green':''}}">{{e.monetization}}</td>
									<td md-cell hide-xs hide-sm>{{e.info}}</td>
									<td md-cell hide-xs>
										<a ng-href="{{e.source != 'N/A' ? e.source : '#'}}" rel="noopener" target="{{e.source != 'N/A'?'_blank':''}}">
											<md-tooltip md-direction="bottom">{{e.source}}</md-tooltip>
											<md-icon>{{e.source == 'N/A'?'remove':'link'}}</md-icon>
										</a>
									</td>
									<td md-cell hide-xs>{{e.timestamp | date:mediumDate}}</td>
								</tr>
							</tbody>
						</table>
					</md-table-container>
					<md-table-pagination md-limit="myLimit" md-limit-options="[10, 50, 100, 500]" md-page="myPage" md-total="{{myFilter?(app.database|filter:myFilter).length:app.database.length}}" md-on-paginate="myPage" md-page-select></md-table-pagination>
			</md-card>

			<footer layout-padding layout="row" layout-align="start center">
				<div>© All Rights Reserved | Made with ♥ by Lukas!</div>
			</footer>
		</md-content>

		<md-fab-speed-dial md-open="app.fabState" md-direction="up" class="md-fling md-fab-bottom-right" ng-click="app.fabToggle()"
		ng-mouseenter="app.fabToggle(true)" ng-mouseleave="app.fabToggle(false)">
			<md-fab-trigger>
				<md-button aria-label="menu" class="md-fab">
					<md-icon>menu</md-icon>
				</md-button>
			</md-fab-trigger>

			<md-fab-actions>
				<md-button aria-label="Send Feedback" class="md-fab md-raised md-mini" ng-click="app.showFeedback()">
					<md-tooltip md-direction="left" md-visible="app.tooltipToggle" md-autohide="false">Send Feedback</md-tooltip>
					<md-icon style="color: #2979ff">email_outline</md-icon>
				</md-button>
				<md-button aria-label="Update Database" class="md-fab md-raised md-mini" ng-click="app.fetchData(true)">
					<md-tooltip md-direction="left" md-visible="app.tooltipToggle" md-autohide="false">Update Database</md-tooltip>
					<md-icon style="opacity: .54">cached</md-icon>
				</md-button>
				<md-button class="md-fab md-raised md-mini" ng-click="app.dataUsage()">
					<md-tooltip md-direction="left" md-visible="app.tooltipToggle" md-autohide="false">Check disk usage</md-tooltip>
			  		<md-icon style="opacity: .54">data_usage</md-icon>
				</md-button>	
			</md-fab-actions>
		</md-fab-speed-dial>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-aria.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-messages.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.min.js"></script>
	<script>
		(function(){
			'use strict';
			angular.module('LuVa-app', ['ngMaterial','md.data.table'])
				.config(function($mdThemingProvider) {
					$mdThemingProvider.theme('default')
						.primaryPalette('green')
						.accentPalette('blue')
						.warnPalette('deep-orange');

					 $mdThemingProvider.enableBrowserColor();
				})
				.service('sw', function($mdToast) {
					var self = this;

					self.exec = function(state) {

						if (!'serviceWorker' in navigator || !state) return;

						navigator.serviceWorker.register('/sw.js').then(function(reg) {

							if (reg.installing) {
								reg.installing.addEventListener('statechange', function(){
									if (reg.active) {
										$mdToast.show(
											$mdToast.simple()
												.textContent('App Cached! Ready for offline use.')
												.hideDelay(5000)
										);  
									}
								});		
							}	

							if (!navigator.serviceWorker.controller) return;

							if (reg.installing) {
								self.trackInstall(reg.installing);
								return;
							}	

							if (reg.waiting) {
								self.notify(reg.waiting);
								return;
							}

							reg.addEventListener('updatefound', function() {
								self.notify(reg.installing);
							});


						});
										
					}

					self.trackInstall = function(sw) {
						sw.addEventListener('statechange', function() {
							if (sw.state == "waiting") {
								self.notify(sw);
							}
						});
					}

					self.notify = function(sw) {
						$mdToast.show(
							$mdToast.simple()
								.textContent("Update available")
								.highlightAction(true)
								.action("Update")
								.hideDelay(5000)
						).then(function(res) {
							if (res == 'ok') {
								sw.postMessage('skipWaiting');
								self.activation();
							} else {
								return;
							}
						});
					}

					self.activation = function() {
						var refreshing;
						navigator.serviceWorker.addEventListener('controllerchange', function(){
							if (refreshing) return;
							window.location.reload();
							refreshing = true;
						});
					}
				})	
				.controller('Ctrl', function($http, $timeout, $q, $mdDialog, $mdToast, sw) {
					var self = this;
					
					window.addEventListener('load', function(){sw.exec(true);});			

					self.database = [];
					self.fabState = false;
					self.tooltipToggle = false;

					self.fabToggle = function(s=null) {
						if (s==null) {
							s = self.fabState;
						}
						if (s) {
							self.fabState = true;
							$timeout(function(){
								self.tooltipToggle = true;
							}, 400);
						} else {					
							self.tooltipToggle = false;
							self.fabState = false;
						}
					}

					var email="lukas@sperohub.com";
					var spreadsheetId = "16qXL4U92CwMa5QdAIS1tyTKDQNrINo0uvk6dvu10XBI";

					self.fetchData = function(update = null) {

						var cleanData = function(data){

							self.database = [];

							var parse = function(entry) {
								var publisher = entry['gsx$publisher']['$t'];
								var game = entry['gsx$game']['$t'];
								var monetization = entry['gsx$monetization']['$t'];
								var info = entry['gsx$qualificationsinfo']['$t'];
								var source = entry['gsx$source']['$t'];
								var timestamp = entry['gsx$timestamp']['$t'];
								return {
									publisher: publisher,
									game: game,
									monetization: monetization,
									info: info,
									source: source,
									timestamp: timestamp
								};
							}

							angular.forEach(data, function(value) {
					    		self.database.push(parse(value));
							});

					    	//console.log("Done cleaning data!");
					    	deferred.resolve();
						};

						var deferred = $q.defer();
						self.loading = deferred.promise;

						var networkFetch = function() {
							$http.get('https://spreadsheets.google.com/feeds/list/'+ spreadsheetId +'/1/public/values?alt=json').then(
								function(res){
									//console.log("Done fetching data! (" + (res.data.feed['entry']).length + ")");
									cleanData(res.data.feed['entry']);

								}, function(res){
									//console.log('Failed to load DB! '+ res.status);
									$timeout(function(){
						    			deferred.resolve(); 
									}, 500);
							});
						}

						if (update == true) {
							if (navigator.onLine) {
								networkFetch();
							} else {
								$mdToast.showSimple("Cannot update without internet connection.");
								deferred.resolve();
							}
						} else {
							caches.match('database').then(function(res){

								if (!res) return networkFetch();
								return res.json();

							}).then(function(data) {

								if (data) cleanData(data.feed['entry']);

							}, function(res){
								return networkFetch();
							});
						}
					}
					self.fetchData();

					var sendMail = function(data){
						$http.post('https://formspree.io/'+email, data).then(function(res) {
							if (res.data.success == "email sent") {
								$mdToast.show(
									$mdToast.simple()
									.textContent('Successfully Sent!')
									.position("bottom left")
									.hideDelay(4500)
								);
							}

						}, function(res) {
							console.log("Error: "+res.statusText+' | Service: '+res.data.error +' | Code:'+ res.status);
							$mdToast.showSimple("Failed to send.");
						});
					};

					self.showFeedback = function(ev) {
						$mdDialog.show({
							controller: feedbackCtrl,
							controllerAs: 'app',
							templateUrl: '/asset/form.html',
							//parent: angular.element(document.body),
							//targetEvent: ev,
							clickOutsideToClose: false,
							fullscreen: true
						}).then(function(form) {
							var mailData = {
								'name' 	  : form.name,
								'_replyto': form.email,
								'_subject': form.type=='t2'?'Request':'Feedback & Contact' + ' | YouTube Resources Games DB',
								'message' : form.body 
							};
							if (!form.sec) {
								sendMail(mailData);
							}
						}, function() {
							//console.log('Dialog Closed.');
						});
					};

					function feedbackCtrl($mdDialog) {
						var self = this;


						self.offline = !navigator.onLine;

						window.addEventListener('online', function(){
							self.offline = false;
							$mdToast.showSimple("Connected!");
						});
						window.addEventListener('offline', function(){
							self.offline = true;
							$mdToast.showSimple("You went offline!");
						});

					    self.hide = function() {
					      $mdDialog.hide();
					    };

					    self.cancel = function() {
					      $mdDialog.cancel();
					    };

					    self.answer = function(answer) {
					      $mdDialog.hide(answer);
					    };
				  	}

				  	self.dataUsage = function() {
						navigator.webkitTemporaryStorage.queryUsageAndQuota(function(i,o){
							console.log("Disk space "+Math.round(i/1024/1024)+ "MB used out of " + Math.round(o/1024/1024/1024,2) +"GB");
							$mdToast.showSimple("Disk space "+Math.round(i/1024/1024)+ "MB used out of " + Math.round(o/1024/1024/1024,2) +"GB");
						});		  		
				  	}
				});
		}());
	</script>
</body>
</html>
