<md-dialog aria-label="Contact Form">
	<form id="feedback-form" name="feedback" netlify>
		<md-toolbar class="md-accent">
			<div class="md-toolbar-tools">
				<h2>Contact Form</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="app.cancel()">
					<md-icon>close</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content style="min-width: 40vw;">
			<div class="md-dialog-content" layout="column">
				<div class="md-warn" ng-if="app.offline">
					<span class="md-subhead">
						Sorry, but it is not possible to send feedback while offline. Make
						sure you connected to internet.
					</span>
				</div>

				<div layout="row">
					<md-input-container flex="50">
						<label>Your Name:</label>
						<input
							type="text"
							ng-model="form.name"
							name="name"
							ng-disabled="app.offline"
						/>
					</md-input-container>

					<md-input-container flex="50">
						<label>Your Email:</label>
						<input
							type="email"
							ng-model="form.email"
							name="email"
							ng-disabled="app.offline"
						/>
					</md-input-container>
				</div>

				<md-input-container flex>
					<label>Your message:</label>
					<textarea
						rows="2"
						ng-model="form.body"
						name="body"
						ng-disabled="app.offline"
						placeholder="Share what's on your mind!"
					></textarea>
				</md-input-container>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout-align="start">
			<input
				type="text"
				ng-model="form.sec"
				name="secondary_name"
				ng-show="false"
			/>
			<md-button
				type="submit"
				class="md-raised md-accent"
				ng-disabled="feedback.$invalid || app.offline"
				ng-click="app.answer(form)"
			>
				Submit
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
